# Example MySQL config file for small systems.

[client]
port		= 12943
socket		= /home/minseok/2021_ite4065_2016025650/project4/mariadb/server/inst/mysql.sock  # Need to change

[mysqld]
port		= 12943
socket		= /home/minseok/2021_ite4065_2016025650/project4/mariadb/server/inst/mysql.sock  # Need to change
skip-external-locking
key_buffer_size = 16K
max_allowed_packet = 1M
table_open_cache = 4
sort_buffer_size = 64K
read_buffer_size = 256K
read_rnd_buffer_size = 256K
net_buffer_length = 2K
thread_stack = 240K

server-id	= 1

innodb_buffer_pool_size = 2G		# size of buffer pool
innodb-buffer-pool-instances = 1

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 8M
sort_buffer_size = 8M

[mysqlhotcopy]
interactive-timeout
